<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729179696056-madkfdjj43iheuqgb0g7t29bn1sbl5pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729179696056-madkfdjj43iheuqgb0g7t29bn1sbl5pv</string>
	<key>API_KEY</key>
	<string>AIzaSyDQUHKTfksmR-joh4XxSoGwIUJf56k8Maw</string>
	<key>GCM_SENDER_ID</key>
	<string>729179696056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyBos</string>
	<key>PROJECT_ID</key>
	<string>xpert-fms</string>
	<key>STORAGE_BUCKET</key>
	<string>xpert-fms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729179696056:ios:8572b16a67d3a0aeb1fd4d</string>
</dict>
</plist>